.form {
  width: 80vw;
  background-color: #fff;
  padding: 17px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fieldset {
  padding: 0;
  border: none;
  width: 100%;
}

.input {
  width: 85%;
  border: none;
  color: #3f3f49;
}

.input:focus {
  outline: none;
}

.clear {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 23px;
  height: 23px;
  margin: 0 7px;
  cursor: pointer;
  position: relative;
  -webkit-mask-image: url('../../images/icon_close.svg');
  -webkit-mask-repeat: no-repeat;
  background-color: #ca8bfe;
}

