@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
body {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a18aff;
  color: #3f3f49;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7vw auto;
  padding: 0 3vw;
}

.container {
  display: flex;
  align-items: center;
  gap: 3vw;
  width: 100%;
}
