.sort {
  align-self: flex-start;
  margin-top: 13px;
}

.button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button_icon {
  width: 25px;
  height: 25px;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-image: url('../../assets/sort.svg');
  -webkit-mask-image: url('../../assets/sort.svg');
  background-color: #d3d0d0;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
}

.button_icon:hover {
  background-color: #9e9d9d;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: none;
  margin: 20px 0 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 10px;
  z-index: 1;
  background-color: #fff;
  padding: 7px;
}

.button_menu {
  width: 100%;
  text-align: start;
  padding: 7px;
  font-size: 17px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: clamp(12px, 2vw, 14px);
  text-wrap: nowrap;
  color: #3f3f49b3;
}

.button_menu:disabled {
  cursor: auto;
  color: #000;
  background-color: #3f3f491f;
}

.button_menu:hover {
  background-color: rgba(63, 63, 73, 0.05);
}

.menu_opened {
  display: block;
  font-size: 17px;
}

.text {
  margin: 0;
  padding: 7px;
  padding-bottom: 12px;
  color: #000;
  font-size: clamp(12px, 2vw, 14px);
}