.list {
  width: 80vw;
  margin: 25px auto 10vw;
  padding: 0;
}

.text {
  text-align: center;
  color: #fff;
  margin-top: 0;
  visibility: hidden;
  width: 100%;
}

.text_active {
  visibility: visible;
}